.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('https://open.kattis.com/images/site/content/kattis-grain.png');
}

.header {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
  height: 60px;
  background-color: #777;
  border-bottom: 5px solid #fabb47;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.headerLogo {
  height: 100%;
  margin-right: 8px;
}

.headerTitle {
  margin: 0;
  color: whitesmoke;
  filter: drop-shadow(0 0 5px rgb(0 0 0));
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #4f8ff5;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

.categoryBtn {
  text-align: center;
  border: 4px outset darkgray;
  border-radius: 5px;
  background-color: #ffe0a7;
  width: 200px;
  margin: 15px 5px;
  padding: 5px;
}

h3:active {
  text-align: center;
  border: 4px inset darkgray;
}

button {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  border: 4px outset darkgray;
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 5px 2px;
}

button:active {
  border: 4px inset darkgray;
}

.about {
  padding: 1em 15%;
  font-size: 1.4em;
}

.aboutMeContainer {
  display: flex;
}

.profilePic {
  height: 100px;
  margin-right: 15px;
  border-radius: 50px;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.itemContainer {
  display: flex;
  justify-content: center;
}

.item {
  display: grid;
  margin: 0;
  max-width: 45vw;
}

.item figure {
  align-self: end;
}

.item img {
  width: 100%;
  height: 18vw;
  object-fit: contain;
  margin: auto;
  filter: drop-shadow(0 0 15px rgb(0 0 0 / 0.4));
}

.item figcaption {
  text-align: center;
  font-weight: bold;
}

.leaderboard {
  width: 80%;
}

.leaderboardItemContainer {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.leaderboardItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 8px 0;
  margin: 0 8px;
}

.leaderboardItem img {
  height: 50px;
  width: 100px;
  object-fit: contain;
  filter: drop-shadow(0 0 15px rgb(0 0 0 / 0.4));
}